$main-clr: #269ed6;
$mainLight-clr: #269ed648;
$sec-clr: #808080;
$light-dark-clr: #434449;
$title-font-size: 3rem;
$fontFamily: "Poppins";

// *** Styling Start
.centerBody {
  overflow: hidden;
  display: flex;
  justify-content: center;
  height: 100vh;
}

// *** Greeting Typer Style
.typer {
  min-height: 57px;
  padding: 10px;
  margin: 0;
  background: #000;
  border-radius: 10px;
}

/* CSS for the button */
.chatbotOption {
  background: transparent;
  display: flex;
  margin: 10px 14px;
  border-radius: 5px;
  float: left;
  padding: 8px 10px;
  cursor: pointer;
  border: #eee;
  width: 150px;
  height: 30px;
  text-align: center;
  display: flex;
  justify-content: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);

  &::after {
    content: "";
    position: absolute;
    width: 130px;
    height: 23px;
    margin-top: -9px;
    border-radius: 5px;

    animation: 2s infinite forwards activeAnime;
  }

  &:active {
    background: $main-clr;
    color: #fff;
  }
}

/* CSS for the animation */

.icon {
  margin: 0;
  padding: 0;
  width: 30px;
  height: 30px;
}

// *** Chatbot Container Style
.chatbot-container {
  width: 100vw; /* Use viewport width */
  height: 80vh; /* Use viewport height */
  background-color: #ffffff;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1600 900'%3E%3Cdefs%3E%3ClinearGradient id='a' x1='0' x2='0' y1='1' y2='0' gradientTransform='rotate(163,0.5,0.5)'%3E%3Cstop offset='0' stop-color='%230FFF25'/%3E%3Cstop offset='1' stop-color='%23183DFF'/%3E%3C/linearGradient%3E%3ClinearGradient id='b' x1='0' x2='0' y1='0' y2='1' gradientTransform='rotate(360,0.5,0.5)'%3E%3Cstop offset='0' stop-color='%2313B1FF'/%3E%3Cstop offset='1' stop-color='%23FF9E79'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cg fill='%23FFF' fill-opacity='0' stroke-miterlimit='10'%3E%3Cg stroke='url(%23a)' stroke-width='3.3'%3E%3Cpath transform='translate(-151.9 19.599999999999998) rotate(8.2 1409 581) scale(0.9888440000000001)' d='M1409 581 1450.35 511 1490 581z'/%3E%3Ccircle stroke-width='1.1' transform='translate(-143.5 103) rotate(17.4 800 450) scale(1.024506)' cx='500' cy='100' r='40'/%3E%3Cpath transform='translate(49.50000000000001 -187.5) rotate(160.5 401 736) scale(1.024506)' d='M400.86 735.5h-83.73c0-23.12 18.74-41.87 41.87-41.87S400.86 712.38 400.86 735.5z'/%3E%3C/g%3E%3Cg stroke='url(%23b)' stroke-width='1'%3E%3Cpath transform='translate(618 -14.2) rotate(3.55 150 345) scale(0.948948)' d='M149.8 345.2 118.4 389.8 149.8 434.4 181.2 389.8z'/%3E%3Crect stroke-width='2.2' transform='translate(-263.5 -271) rotate(176.40000000000003 1089 759)' x='1039' y='709' width='100' height='100'/%3E%3Cpath transform='translate(-466.8 141.2) rotate(29.400000000000002 1400 132) scale(0.865)' d='M1426.8 132.4 1405.7 168.8 1363.7 168.8 1342.7 132.4 1363.7 96 1405.7 96z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
  background-position: cover;
  border-radius: 10px;
  // box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: "Poppins";
}

.chat-messages {
  width: 100%;
  flex-grow: 1;
  overflow-y: auto;

  .chat-message {
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    animation: fadeInUp 0.5s ease-in-out;

    .user-message,
    .chatbot-message {
      display: flex;
      align-items: center;

      .msgSpan {
        padding: 7px;
        border-radius: 10px;
        color: #fff;
      }
    }

    // User msgs
    .user-message {
      justify-content: flex-start;
      position: relative;

      .msgSpan {
        border: 1px solid #eee;
        color: $main-clr;
        font-size: 14px;
        font-family: "Poppins";
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);

        &::before {
          content: "";
          position: absolute;
          top: 50%;
          left: -8px;
          border-style: solid;
          border-width: 8px 0 8px 8px;
          border-color: transparent transparent transparent #000;
          transform: translateY(-50%);
        }
      }
      .icon {
        margin-right: 18px;
      }
    }

    // Bot msgs
    .chatbot-message {
      justify-content: flex-end;
      position: relative;
      font-family: "Poppins";

      .msgSpan {
        border: 1px solid #eee;
        background-color: rgb(255, 255, 255);
        color: #000;
        transition: 0.3s ease-in-out;
        font-family: "Poppins";
        font-size: 14px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);

        &::after {
          content: "";
          position: absolute;
          top: 50%;
          right: -8px;
          border-style: solid;
          border-width: 8px 8px 8px 0;
          border-color: transparent $main-clr transparent transparent;
          transform: translateY(-50%);
        }

        a {
          transition: 0.3s ease-in-out;

          &:hover {
            background: $main-clr;
            color: white !important;
            text-decoration: none;
          }
        }
      }
      .icon {
        margin-left: 18px;
      }
    }
  }
}

// *** Input Container Style
.footerInput {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  margin-top: 3%;
}

.user-input {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  margin-top: 20px;

  input {
    width: 100%;
    flex-grow: 1;
    padding: 10px;
    border-radius: 3px;
    border: none;
    outline: none;
    border-bottom: 2px solid $main-clr;
    transition: 0.4s ease-in-out;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);

    &:active,
    &:focus {
      border: none;
      outline: none;
      border-bottom: 2px solid #000;
    }
  }

  button {
    border: none;
    outline: none;
    background: transparent;

    &:hover {
      cursor: pointer;
    }

    span {
      color: $main-clr;
      font-size: 2rem;
    }

    &:active span {
      color: #000;
      cursor: progress;
    }
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

// *** Slide Style
::-webkit-scrollbar {
  width: 7px;
}
::-webkit-scrollbar-track {
  background: #fff;
}
::-webkit-scrollbar-thumb {
  background: $main-clr;
  border-radius: 20px;
}

// *** Box Style
.box {
  width: 600px;
  height: 800px;
  border: 1px solid black;
  overflow: hidden;

  .box-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    h2 {
      margin-bottom: 10px;
    }

    button {
      padding: 10px 20px;
      background-color: #ccc;
      border: none;
      cursor: pointer;
      margin-bottom: 10px;

      &:hover {
        background-color: #aaa;
      }
    }
  }
}


/* General styling for chat options */
.chat-options {
  width: 100%;
  height: 100vh;
  overflow-x: scroll;
  padding: 0 30px;
  display: block;
  justify-content: left;
  background: #fff;

  /* Main options section */
  #main-options-section {
    h3 {
      margin-bottom: 10px;
      color: #333;
      font-size: 1.2rem;
    }

    /* Styling for each option */
    .option {
      padding: 5px 0;

      /* Button styles */
      button {
        padding: 8px 16px;
        color: #000;
        border: 1px solid #ccc;
        background: transparent;
        border-radius: 8px;
        cursor: pointer;
        transition: background-color 0.3s ease-in-out;

        /* Hover effect */
        &:hover {
          background-color: #3498db;
        }

        /* Active effect */
        &:active {
          background-color: #1f618d;
        }

        /* Disabled effect */
        &:disabled {
          background-color: #ccc;
          cursor: not-allowed;
          opacity: 0.8;
        }
      }
    }
  }

  /* Sub options section */
  #sub-options-section {
    /* Styling for selected main option */
    .selected-main-option {
      h3 {
        color: #000;
      }

      /* Styling for sub-options */
      .sub-options {
        padding-top: 10px;

        /* Button styles */
        button {
          margin-top: 14px;
          padding: 8px 16px;
          color: #000;
          border: 1px solid #ccc;
          background: transparent;
          border-radius: 8px;
          cursor: pointer;
          transition: background-color 0.3s ease-in-out;

          /* Hover effect */
          &:hover {
            background-color: #3498db;
          }

          /* Disabled effect */
          &:disabled {
            background-color: #ccc;
            cursor: not-allowed;
          }
        }

        .homeIcon {
          color: $main-clr;

          &:hover {
            color: #000;
          }
        }
      }
    }
  }

  /* Info section */
  #info-section {
    padding-left: 5%;

    /* Styling for last info section */
    .info-sectionLast {
      button {
        padding: 8px 16px;
        color: $main-clr;
        border: 1px solid #eee;
        background: transparent;
        border-radius: 8px;
        cursor: pointer;
        transition: background-color 0.3s ease-in-out;
        margin-right: 5px;

        /* Hover effect */
        &:hover {
          background-color: $main-clr;
          color: #fff;
        }

        /* Disabled effect */
        &:disabled {
          background: #ccc;
          cursor: not-allowed;
        }
      }

      h3 {
        color: #000;
      }

      /* Styling for last answer */
      .lastAns {
        padding: 7px;
        border: 1px solid #eee;
        border-radius: 10px;
        background: #f0f0f0;
      }
    }
  }
}
